    $accent-color: #156963;

    $main-text-color: #2c1500;
    $second-text-color: #000000;

    $additional-first-color: #333333;
    $additional-second-color: #4f4f4f;

    $main-linear-color: #e0e0e0;
    $second-linear-color: #EAFBFA;

    $main-background-color: #ffffff;
    $second-background-color: #f3f4f6;    