<section class="section assortment__section">
    <div class="container">
        <h2 class="visually-hidden">Plants Assortment</h2>
        <div class="assortment__checkbox">
            <label class="assortment__label" for="featured-plants">Featured Plants</label>
            <select class="assortment__select" id="featured-plants" name="featured-plants">
                <option value="cheaper-first">Cheaper First</option>
                <option value="expensive-first">Expensive First</option>
            </select>
        </div>
        <ul class="assortment__list">
            <li class="assortment__item">
                <div class="assortment__image assortment__image--first"></div>
                <h3 class="assortment__title">Kaktus Plants</h3>
                <p class="assortment__text">IDR <span>85.000</span></p>
            </li>
            <li class="assortment__item">
                <div class="assortment__image assortment__image--second"></div>
                <h3 class="assortment__title">Landak Plants</h3>
                <p class="assortment__text">IDR <span>105.000</span></p>               
            </li>
            <li class="assortment__item">
                <div class="assortment__image assortment__image--third"></div>
                <h3 class="assortment__title">Kecubung Plants</h3>
                <p class="assortment__text">IDR <span>85.000</span></p>
            </li>
            <li class="assortment__item">
                <div class="assortment__image assortment__image--fourth"></div>
                <h3 class="assortment__title">Kecubung Plants</h3>
                <p class="assortment__text">IDR <span>85.000</span></p>
            </li>
            <li class="assortment__item">
                <div class="assortment__image assortment__image--five"></div>
                <h3 class="assortment__title">Kecubung Plants</h3>
                <p class="assortment__text">IDR <span>85.000</span></p>
            </li>
        </ul>
    </div>
</section>