<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Plants Assortment</h2>
        <div class="assortment__checkbox">
            <label for="featured-plants">Featured Plants</label>
            <select id="featured-plants" name="featured-plants">
                <option value="cheaper-first">Cheaper First</option>
                <option value="expensive-first">Expensive First</option>
            </select>
        </div>
        <ul class="assortment__list">
            <li class="assortment__item">
                <img src="" alt="">
                <div class="assortment__thumb">
                    <h3 class="assortment__title">Kaktus Plants</h3>
                    <p class="assortment__text">IDR <span class="assortment__price">85.000</span></p>
                </div>
            </li>
            <li class="assortment__item">
                <img src="" alt="">
                <div class="assortment__thumb">
                    <h3 class="assortment__title">Landak Plants</h3>
                    <p class="assortment__text">IDR <span class="assortment__price">105.000</span></p>
                </div>
            </li>
            <li class="assortment__item">
                <img src="" alt="">
                <div class="assortment__thumb">
                    <h3 class="assortment__title">Kecubung Plants</h3>
                    <p class="assortment__text">IDR <span class="assortment__price">85.000</span></p>
                </div>
            </li>
            <li class="assortment__item">
                <img src="" alt="">
                <div class="assortment__thumb">
                    <h3 class="assortment__title">Kecubung Plants</h3>
                    <p class="assortment__text">IDR <span class="assortment__price">85.000</span></p>
                </div>
            </li>
            <li class="assortment__item">
                <img src="" alt="">
                <div class="assortment__thumb">
                    <h3 class="assortment__title">Kecubung Plants</h3>
                    <p class="assortment__text">IDR <span class="assortment__price">85.000</span></p>
                </div>
            </li>
        </ul>
    </div>
</section>