<section class="assortment__container">
    <div class="container ">
        <h2>Featured Plants</h2>
        <ul class="assortment__list">
            <li class="assortment__item">
                <!-- <img src="./images/kaktus-plants@1x.png" alt="Kaktus picture" width="217" height="217"> -->
                <h3>Kaktus Plants</h3>
                <p>IDR <span>85.000</span></p>
            </li>
            <li class="assortment__item">
                <!-- <img src="./images/landak-plants@1x.png" alt="Lundak picture" width="217" height="217"> -->
                <h3>Landak Plants</h3>
                <p>IDR <span>105.000</span></p>
            </li>
            <li class="assortment__item">
                <!-- <img src="./images/kecubung-plants@1x.png" alt="Kecubung picture" width="217" height="217"> -->
                <h3>Kecubung Plants</h3>
                <p>IDR <span>85.000</span></p>
            </li>
            <li class="assortment__item">
                <!-- <img src="./images/kecubung-plants-1@1x.png" alt="Kecubung picture" width="217" height="217"> -->
                <h3>Kecubung Plants</h3>
                <p>IDR <span>85.000</span></p>
            </li>
            <li class="assortment__item">
                <!-- <img src="./images/kecubung-plants-2@1x.png" alt="Kecubung picture" width="217" height="217"> -->
                <h3>Kecubung Plants</h3>
                <p>IDR <span>85.000</span></p>
            </li>
        </ul>
    </div>
    
</section>