<section class="container ">
    <div class="benefits__container">
        <h2 class="visually-hidden">Our benefits</h2>
        <ul class="benefits__list">
            <li class="benefits__item">
                <div class="benefits__thumb">
                    <svg class="benefits__icon">
                        <use href="./images/sprite.svg#icon-delivery"></use>
                    </svg>
                    <h3 class="benefits__caption">Fast <br>
                        Delivery</h3>
                </div>
                <p class="benefits__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum
                    has
                    been the industry's standard</p>
            </li>

            <li class="benefits__item">
                <div class="benefits__thumb">
                    <svg class="benefits__icon">
                        <use href="./images/sprite.svg#icon-headphones"></use>
                    </svg>
                    <h3 class="benefits__caption">Great Customer <br> Service</h3>
                </div>
                <p class="benefits__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum
                    has been the industry's standard</p>
            </li>

            <li class="benefits__item">
                <div class="benefits__thumb">
                    <svg class="benefits__icon">
                        <use href="./images/sprite.svg#icon-plant"></use>
                    </svg>
                    <h3 class="benefits__caption">Original <br> Plants</h3>
                </div>
                <p class="benefits__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum
                    has been the industry's standard</p>
            </li>

            <li class="benefits__item">
                <div class="benefits__thumb">
                    <svg class="benefits__icon">
                        <use href="./images/sprite.svg#icon-dollar-symbol"></use>
                    </svg>
                    <h3 class="benefits__caption">Affordable <br> Price</h3>
                </div>
                <p class="benefits__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum
                    has been the industry's standard</p>
            </li>
        </ul>
    </div>    
</section>