<section class="section">
    <div class="container">
        <div class="blog__thumb">
            <h2 class="blog__title">Buy more plants, it helps you to be relaxed</h2>
            <p class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida gravida aliquam. Pellentesque et
            lobortis nisl.
            Sed et mauris justo. Nulla eu enim non mauris maximus dignissim. Maecenas vitae eros sapien. Quisque
            pellentesque tempus
            dignissim.</p>
            <img class="blog__img--small" src="" alt="">
        </div>
        <img class="blog__img--big" src="" alt="">
    </div>
</section>