<section class="container">
    <!-- <img src="./images/info-section@1x.jpg" alt=""> -->
    <div>
        <h2>Buy more plants, it helps you to be relaxed</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida gravida aliquam. Pellentesque et
            lobortis nisl.
            Sed et mauris justo. Nulla eu enim non mauris maximus dignissim. Maecenas vitae eros sapien. Quisque
            pellentesque tempus
            dignissim.</p>
        <!-- <img src="./images/info-section-2@1x.jpg" alt=""> -->
    </div>
</section>