<footer>
    <div>
        <h2>plantku</h2>
        <h3>Plantku House</h3>
        <p>Jl. Laksda Adisucipto No.51, Demangan, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282</p>
    </div>
    <div>
        <h3>Perusahaan</h3>
        <ol>
            <li>Tentang Kami</li>
            <li>Hubungi Kami</li>
        </ol>
    </div>
    <div>
        <h3>Produk</h3>
        <ol>
            <li>Tanaman</li>
            <li>Tanaman Lain</li>
        </ol>
    </div>
    <form action="">
        <label for="user_email">Berlangganan Email Kami</label>
        <input id="user_email" type="email" name="email">
        <button type="submit">Submit</button>
    </form>
</footer>