<footer class="footer__section">
    <div class="container footer__container">
        <div class="footer__address">
            <h2 class="footer__address-title">plantku</h2>
            <h3 class="footer__address-subtitle">Plantku House</h3>
            <p class="footer__address-text">Jl. Laksda Adisucipto No.51, Demangan, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282</p>
        </div>
        <div class="footer__info">
            <h3 class="footer__info-title">Perusahaan</h3>
            <ul class="footer__info-list">
                <li class="footer__info-item">Tentang Kami</li>
                <li class="footer__info-item">Hubungi Kami</li>
            </ul>
        </div>
        <div class="footer__info">
            <h3 class="footer__info-title">Produk</h3>
            <ul class="footer__info-list">
                <li class="footer__info-item">Tanaman</li>
                <li class="footer__info-item">Tanaman Lain</li>
            </ul>
        </div>
        <form class="footer__form" action="">
            <label class="footer__form-label" for="user_email">Berlangganan Email Kami</label>
            <input class="footer__form-field" id="user_email" type="email" name="email" placeholder="Masukan Alamat Email">
            <button class="footer__form-button" type="submit">Submit</button>
        </form>
    </div>    
</footer>