.benefits__list {
    display: flex;
    margin: -16px;
}

.benefits__item {
    padding: 22px 16px 21px;
    flex-basis: calc((100% - 4 * 32px) / 4);
    margin: 16px;
    border: 1px solid $main-linear-color;
}

.benefits__thumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 16px;
}

.benefits__icon {
    padding-right: 16px;
    width: 48px;
    height: 48px;
    fill: $accent-color;
}

.benefits__caption {
    @include font(normal, 16px, 700, 24px);
    color: $accent-color;
}

.benefits__text {
    @include font(normal, 10px, 400, 16px);
}